{% extends "base.html" %}

<!-- Front matter -->
{% block extrahead %}
    {% if page and page.meta and page.meta.title %}
        <meta property="og:title" content="{{ page.meta.title }}" />
    {% elif page and page.title and not page.is_homepage %}
        <meta property="og:title" content="{{ page.title }}" />
    {% elif page and page.meta and page.meta.title and not page.is_homepage %}
        <meta property="og:title" content="{{ page.meta.title }}" />
    {% else %}
        <meta property="og:title" content="{{ config.site_name }}" />
{% endif %}

<!-- Image URL -->
    {% set image = '/assets/images/meta-image.png' %}

    <!-- Open graph Meta -->
    <meta property="og:type" content="website" />
    <meta property="og:description" content="{{ config.site_description }}" />
    <meta property="og:url" content="{{ page.canonical_url }}" />
    <meta property="og:image" content="{{ image }}" />
    <meta property="og:image:type" content="image/png" />

    <!-- Twitter Meta -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@FlyByWireSim" />
    <meta name="twitter:creator" content="@FlyByWireSim" />
    <meta name="twitter:title" content="{{ title }}" />
    <meta name="twitter:description" content="{{ config.description }}" />
    <meta name="twitter:image" content="{{ image }}" />
{% endblock %}

{% set extracopyright %}
    <br> Powered by <a href="https://vercel.com/?utm_source=flybywiresim&utm_campaign=oss">
            <img src="/assets/images/vercel-logotype-light.svg" alt="Vercel Logo"></a>
{% endset %}