mkdocs-material==9.2.0b0
mkdocs-awesome-pages-plugin
mkdocs-git-revision-date-localized-plugin
mkdocs-redirects
mkdocs-embed-external-markdown
mkdocs-video
mkdocs-glightbox
pillow
cairosvg
urllib3<2.0