mkdocs-material==8.5.6
mkdocs-awesome-pages-plugin
mkdocs-git-revision-date-localized-plugin
mkdocs-redirects
mkdocs-exclude-search
mkdocs-embed-external-markdown
mkdocs-video
mkdocs-glightbox
mike
pillow
cairosvg
