mkdocs-material==9.0.0
mkdocs-awesome-pages-plugin
mkdocs-git-revision-date-localized-plugin
mkdocs-redirects
mkdocs-exclude-search
mkdocs-embed-external-markdown
mkdocs-video
mkdocs-glightbox
mike
pillow
cairosvg
