/*Admonition Modifications*/

/* Global Font Modifications*/
.md-typeset .admonition-title, .md-typeset summary {
    font-size: .8rem;
    font-weight: inherit;
    color: #fff;
}
.md-typeset .admonition, .md-typeset details {
    font-size: .8rem;
    color: #fff;
}
.md-typeset :is(.admonition,details) {
    font-size: .8rem;
}
.md-typeset .admonition-title:before, .md-typeset summary:before {
    transform: translateY(10%);
}

/*Upper Section*/
.md-typeset .question>.admonition-title, .md-typeset .question>summary,
.md-typeset .faq>.admonition-title, .md-typeset .faq>summary,
.md-typeset .help>.admonition-title, .md-typeset .help>summary {
  border-color: #00E0FE;
  background-color: rgba(0,184,212,.1);
  font-size: 0.8rem;
}
.md-typeset .question>.admonition-title::before, .md-typeset .question>summary::before,
.md-typeset .faq>.admonition-title::before, .md-typeset .faq>summary::before,
.md-typeset .help>.admonition-title::before, .md-typeset .help>summary::before {
  background-color: #00E0FE;
  top: 0.5rem;
}
.md-typeset summary::after {
  top: 0.5rem;
}
/*Lower Section*/
.md-typeset .admonition.question, .md-typeset details.question,
.md-typeset .admonition.faq, .md-typeset details.faq,
.md-typeset .admonition.help, .md-typeset details.help {
  border-color: #00E0FE;
  font-size: 0.8rem;
}

/* for aligning image left or right with control over which text flows around */
.md-typeset .admonition.block,
.md-typeset details.block {
   border-color: var(--md-default-bg-color);
   background-color: var(--md-default-bg-color);
   box-shadow: none;
   font-size: .8rem;
   margin: 0.5em 0;
   padding: 0 .3rem;
}
.md-typeset .block > .admonition-title,
.md-typeset .block > summary {
  background-color: var(--md-default-bg-color);
  border-color: var(--md-default-bg-color);
  border-left: .2rem solid #448aff;
  font-weight: 700;
  margin: 0 -.6rem 0 -.8rem;
  padding: 0 0 0 0.4rem;
  position: relative;
}
.md-typeset .block > .admonition-title::before,
.md-typeset .block > summary::before {
  height: 0rem;
}
/*Established Admonitions Changes*/
/*Info*/
.md-typeset :is(.admonition,details):is(.info) {
    border-color: #00E0FE;
}
.md-typeset :is(.info)>:is(.admonition-title,summary) {
    border-color: #00E0FE;
    background-color: rgba(0,224,254,.1);
}
.md-typeset :is(.info,.todo)>:is(.admonition-title,summary):before {
    background-color: #00E0FE;
    -webkit-mask-image: var(--md-admonition-icon--info);
    mask-image: var(--md-admonition-icon--info);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask-size: contain;
}
/*Note*/
.md-typeset :is(.admonition,details):is(.note) {
    border-color: #00E0FE;
}
.md-typeset :is(.note)>:is(.admonition-title,summary) {
    border-color: #00E0FE;
    background-color: rgba(0,224,254,.1);
}
.md-typeset :is(.note)>:is(.admonition-title,summary):before {
    background-color: #00E0FE;
    -webkit-mask-image: var(--md-admonition-icon--note);
    mask-image: var(--md-admonition-icon--note);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask-size: contain;
}
.md-typeset :is(.note)>:is(.admonition-title,summary):after {
    color: #00E0FE;
}