/*Primary Thematic Colors*/
:root {
  --md-primary-fg-color:        #00E0FE;
  --md-primary-fg-color--dark:  hsl(216,32%,17%);
  --md-primary-fg-color--light: #00E0FE;
  --md-accent-fg-color:         #00E0FE;
}
/* Color Notes
light hsla(216,32%,17%,1)
dark rgba(20,30,48,1)
diff rgba(27,36,52,1)
*/

[data-md-color-scheme="slate"] {
  --md-default-bg-color: rgb(23,30,44);
}

/* Navigation Modifications */
.md-header {
  background: rgb(14,19,27);
}
.md-nav--primary .md-nav__title[for=__drawer] {
    background: var(--md-primary-fg-color--dark);
    overflow: visible;
}
.md-tabs {
  background: rgb(14,19,27);
}
.md-top {
  color: #ffffff;
}
.md-top {
  color: #ffffff;
}
.md-tabs__link--active, .md-tabs__link:focus, .md-tabs__link:hover {
  border-bottom: 1.5px solid #00E0FE;
  height: -webkit-fill-available;
}

/*Announcement Bar*/
.md-announce {
    background-color: var(--md-footer-bg-color--dark);
    overflow: auto;
    padding-bottom: 0.5rem;
}
.md-announce__inner {
    font-size: .7rem;
    margin: .6rem auto 0;
    padding: 0 .8rem;
    text-align: center;
}
.md-typeset img, .md-typeset svg {
    height: auto;
    max-width: 100%;
    vertical-align: text-bottom;
}

/*Header Modifications*/
.md-typeset h1 {
  color: #00E0FE;
}
h1 {
  /*text-transform: uppercase;*/
}
h2 {
  color: #00E0FE;
  /*text-transform: uppercase;*/
  padding-bottom: 0.5em;
}
h3 {
  color: #A9CEEF;
}
h4 {
  padding-top: 1em;
}
.md-typeset h5 {
  color: hsl(0deg 0% 100%);
}

/* highlighting */
.md-typeset mark { /* ==text== */
    background-color: #244559;
    color: white;
    text-decoration: none;
}
/*.md-typeset ins {  !* ^^text^^ *!*/
/*    background-color: #594a47;*/
/*    color: white;*/
/*    text-decoration: none;*/
/*}*/
.md-typeset del {  /* ~~text~~ */
    background-color: #47324d;
    color: white;
    text-decoration: none;
}
.md-typeset code {
    background-color: hsl(232,7%,28%);
    border-radius: .1rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    font-size: .95em;
    padding: 0 .2941176471em;
    word-break: break-word;
}
/*Standardize Font Awesome CSS Styling*/
.discord {
  font-size: 20px;
}
.github {
  font-size: 20px;
}
/*Table Styling*/
.md-typeset table:not([class]) th {
  font-weight: bold;
  background-color: #00C2CB;
  color: var(--md-default-bg-color);
}
/* reduced table row height */
.md-typeset table:not([class]) td {
  border-top: .05rem solid var(--md-default-fg-color--lightest);
  padding: .2375em 1.25em;
  vertical-align: top;
}
/* Tasklist */
 .md-typeset [type=checkbox]:checked+.task-list-indicator:before {
    background-color: #00A2AB;
}
