@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600&display=swap');

/*Primary Thematic Colors*/
:root {
  --md-primary-fg-color:        #00E0FE;
  --md-primary-fg-color--dark:  hsl(216,32%,17%);
  --md-primary-fg-color--light: #00E0FE;
  --md-accent-fg-color:         #00E0FE;
  --header-font:                Manrope;
}

[data-md-color-scheme="slate"] {
  --md-default-bg-color: rgb(23,30,44);
}

/*Header Modifications*/
.md-typeset h1 {
  color: #00E0FE;
  font-family: var(--header-font), sans-serif;
  font-weight: 550;
  size: 2em;
}
.md-typeset h2, .md-typeset h3, .md-typeset h4 {
  font-family: var(--header-font), sans-serif;
  font-weight: 400;
  size: 2em;
}
/*Specific Header Modifications*/
.md-typeset h2 {
  color: #00E0FE; /*Cyan*/
  /*text-transform: uppercase;*/
  padding-bottom: 0.5em;
}
.md-typeset h3 {
  color: #00CCFF;
}
.md-typeset h4 {
  padding-top: 1em;
  text-decoration: underline;
  font-weight: bold;
}
.md-typeset h5 {
  color: hsl(0, 0%, 100%);
}
.md-ellipsis {
  font-family: var(--header-font), sans-serif;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Button Hover State */
.md-typeset .md-button:is(:focus,:hover) {
    background-color: var(--md-accent-fg-color);
    border-color: var(--md-accent-fg-color);
    color: black;
}

/* highlighting */
.md-typeset mark { /* ==text== */
    background-color: #244559;
    color: white;
    text-decoration: none;
}
/*.md-typeset ins {  !* ^^text^^ *!*/
/*    background-color: #594a47;*/
/*    color: white;*/
/*    text-decoration: none;*/
/*}*/
.md-typeset del {  /* ~~text~~ */
    background-color: #47324d;
    color: white;
    text-decoration: none;
}
.md-typeset code {
    background-color: hsl(232,7%,28%);
    border-radius: .1rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    font-size: .95em;
    padding: 0 .2941176471em;
    word-break: break-word;
}
/*Standardize Font Awesome CSS Styling*/
.discord {
  font-size: 20px;
}
.github {
  font-size: 20px;
}
/*Table Styling*/
.md-typeset table:not([class]) th {
  font-weight: bold;
  background-color: #00E0FE;
  color: var(--md-default-bg-color);
}
/* reduced table row height */
.md-typeset table:not([class]) td {
  border-top: .05rem solid var(--md-default-fg-color--lightest);
  padding: .2375em 1.25em;
  vertical-align: top;
}
/* Tasklist */
 .md-typeset [type=checkbox]:checked+.task-list-indicator:before {
    background-color: #00E0FE;
}
