/*Primary Thematic Colors*/
:root {
  --md-primary-fg-color:        #00E0FE;
  --md-primary-fg-color--dark:  hsl(216,32%,17%);
  --md-primary-fg-color--light: #00E0FE;
  --md-accent-fg-color:         #00C2CB;
}
/* Color Notes
light hsla(216,32%,17%,1)
dark rgba(20,30,48,1)
diff rgba(27,36,52,1)
*/

[data-md-color-scheme="slate"] {
  --md-default-bg-color: rgb(23,30,44);
}

/*Header Modifications*/
.md-typeset h1 {
  color: #00E0FE;
  font-family: Manrope;
  font-weight: 900;
  size: 2em;
}
.md-typeset h2, .md-typeset h3, .md-typeset h4 {
  font-family: Manrope;
  font-weight: 600;
  size: 2em;
}
h1 {
  /*text-transform: uppercase;*/
}
h2 {
  color: #00C2CB;
  /*text-transform: uppercase;*/
  padding-bottom: 0.5em;
}
h3 {
  color: #A9CEEF;
}
h4 {
  padding-top: 1em;
}
.md-typeset h5 {
  color: hsl(0deg 0% 100%);
}

/* highlighting */
.md-typeset mark { /* ==text== */
    background-color: #244559;
    color: white;
    text-decoration: none;
}
/*.md-typeset ins {  !* ^^text^^ *!*/
/*    background-color: #594a47;*/
/*    color: white;*/
/*    text-decoration: none;*/
/*}*/
.md-typeset del {  /* ~~text~~ */
    background-color: #47324d;
    color: white;
    text-decoration: none;
}
.md-typeset code {
    background-color: hsl(232,7%,28%);
    border-radius: .1rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    font-size: .95em;
    padding: 0 .2941176471em;
    word-break: break-word;
}
/*Standardize Font Awesome CSS Styling*/
.discord {
  font-size: 20px;
}
.github {
  font-size: 20px;
}
/*Table Styling*/
.md-typeset table:not([class]) th {
  font-weight: bold;
  background-color: #00C2CB;
  color: var(--md-default-bg-color);
}
/* reduced table row height */
.md-typeset table:not([class]) td {
  border-top: .05rem solid var(--md-default-fg-color--lightest);
  padding: .2375em 1.25em;
  vertical-align: top;
}
/* Tasklist */
 .md-typeset [type=checkbox]:checked+.task-list-indicator:before {
    background-color: #00A2AB;
}
