.md-typeset .admonition-title, .md-typeset summary {
    font-size: .8rem;
    font-weight: inherit;
}
.md-typeset .admonition, .md-typeset details {
    font-size: .8rem;
}
.md-typeset :is(.admonition,details) {
    font-size: .8rem;
}
.md-typeset .admonition-title:before, .md-typeset summary:before {
    transform: translateY(10%);
}
