/* Navigation Modifications */
.md-header {
  background: rgb(14,19,27);
}
.md-nav--primary .md-nav__title[for=__drawer] {
    background: var(--md-primary-fg-color--dark);
    overflow: visible;
}
.md-tabs {
  background: rgb(14,19,27);
}
.md-top {
  color: #ffffff;
}
.md-top {
  color: #ffffff;
}
.md-tabs__link--active, .md-tabs__link:focus, .md-tabs__link:hover {
  border-bottom: 1.5px solid #00E0FE;
  height: -webkit-fill-available;
}

/*Announcement Bar*/
.md-banner {
    background-color: var(--md-footer-bg-color--dark);
    overflow: auto;
    text-align: center;
}
/*8.1.1 compatibility*/
/*.md-typeset img, .md-typeset svg {*/
/*    height: auto;*/
/*    max-width: 100%;*/
/*    vertical-align: text-bottom;*/
/*}*/
